.row.left-padding-lg.right-padding-lg
    .form-horizontal(name="answer_form")
        fieldset
            div(ng-if="answer.question_mode==='desk_research'")
                div(ng-if="answer.question_data_type==='score' || answer.question_data_type==='bool'")
                    legend Choose one of the following answers (required):
                    ng-form(name="answer_choice_form")
                        .form-group.left-padding-lg(ng-repeat="option in answer.answer_options" required)
                            input(
                            type="radio"
                            ng-value="option"
                            ng-model="answer.answer_score")
                            text.left-padding-med {{option.option_text | ucfirst}}
                div(ng-if="answer.question_data_type==='perc' || answer.question_data_type==='int' ")
                    legend Please provide a value (required):
                    ng-form(name="answer_value_form")
                        .form-group.left-padding-lg.col-md-2(required)
                            label(ng-if="answer.question_data_type==='int'") Whole number
                            label(ng-if="answer.question_data_type==='perc'") Percentage as decimal
                            input.form-control(type="number" ng-if="answer.question_data_type==='int'" ng-model="answer.answer_score.value")
                            input.form-control(type="number" step="any" ng-if="answer.question_data_type==='perc'" ng-model="answer.answer_score.value")

                div(id="answer_justification_div").bottom-padding-med
                    legend(ng-if="answer.question_data_type==='text'") Please provide a text based response (required):
                    ng-form(name="answer_justification_form")
                        .form-group.top-padding-med
                            .row.left-padding-lg
                                .col-md-11
                                    textarea.form-control(
                                    name="answer_text"
                                    type="text"
                                    ng-model="answer.answer_text"
                                    placeholder="Please provide supporting evidence... (required)"
                                    redactor) {{answer.answer_text}}