.row.left-padding-lg.right-padding-lg
    .form-horizontal(name="answer_form")
        fieldset
            div(ng-if="answer.question_mode==='desk_research'")
                div(ng-if="answer.question_data_type==='score' || answer.question_data_type==='bool'")
                    legend Choose one of the following answers (required):
                    ng-form(name="answer_choice_form")
                        .form-group.left-padding-lg(ng-repeat="option in answer.answer_options" required)
                            input(
                            type="radio"
                            ng-value="option"
                            ng-model="answer.answer_score")
                            text.left-padding-med {{option.option_text | ucfirst}}
                div(ng-if="answer.question_data_type==='perc' || answer.question_data_type==='int' ")
                    legend Please provide a value (required):
                    ng-form(name="answer_value_form")
                        .form-group.left-padding-lg.col-md-2(required)
                            label(ng-if="answer.question_data_type==='int'") Whole number
                            label(ng-if="answer.question_data_type==='perc'") Percentage as decimal
                            input.form-control(type="number" ng-if="answer.question_data_type==='int'" ng-model="answer.answer_score.value")
                            input.form-control(type="number" step="any" ng-if="answer.question_data_type==='perc'" ng-model="answer.answer_score.value")

                div(id="answer_justification_div").bottom-padding-med
                    legend(ng-if="answer.question_data_type==='text'") Please provide a text based response (required):
                    ng-form(name="answer_justification_form")
                        .form-group.top-padding-med
                            .row.left-padding-lg
                                .col-md-11
                                    textarea.form-control(
                                    name="answer_text"
                                    type="text"
                                    ng-model="answer.answer_text"
                                    placeholder="Please provide supporting evidence... (required)"
                                    redactor) {{answer.answer_text}}



            div(ng-if="answer.question_mode==='interview'")

            //
            //div(id="answer_value_div").bottom-padding-med
            //    legend(ng-if="answer.question_data_type==='perc' || answer.question_data_type==='int' ") Please provide a value (required):
            //    .form-group.left-padding-lg.col-md-2(required)
            //        label(ng-if="answer.question_data_type==='int'") Whole number
            //        label(ng-if="answer.question_data_type==='perc'") Percentage as decimal
            //        input.form-control(type="number" ng-if="answer.question_data_type==='int'" ng-model="answer.answer_score.value")
            //        input.form-control(type="number" step="any" ng-if="answer.question_data_type==='perc'" ng-model="answer.answer_score.value")
            //
            //div(id="answer_justification_div").bottom-padding-med
            //    legend(ng-if="answer.question_data_type==='text'") Please provide a text based response (required):
            //    ng-form(name="answer_justification_form")
            //        .form-group.top-padding-med
            //            .row.left-padding-lg
            //                .col-md-11
            //                    textarea.form-control(
            //                    name="answer_text"
            //                    type="text"
            //                    ng-model="answer.answer_text"
            //                    placeholder="Please provide supporting evidence... (required)"
            //                    autocomplete="off")
    //        div(id="answer_choice_div").bottom-padding-med
    //            legend Choose one of the following answers (required):
    //            ng-form(name="answer_choice_form")
    //                .form-group.left-padding-lg(ng-repeat="choice in question.question_criteria" required)
    //                    input(
    //                    type="radio"
    //                    name="choice.choice_name"
    //                    value="{{$index}}"
    //                    ng-checked="choice.selected"
    //                    ng-model="answer.new_answer_selection"
    //                    ng-disabled="assessment.edit_control!==current_user._id")
    //                    text.left-padding-med {{choice.letter}} - {{choice.text}}
    //        div(id="answer_justification_div")
    //            ng-form(name="answer_justification_form")
    //                .form-group.top-padding-med
    //                    .row.left-padding-lg
    //                        .col-md-11
    //                            h5 Justification
    //                            textarea.form-control(
    //                            name="justification"
    //                            type="text"
    //                            ng-model="answer[current_user.role + '_justification']"
    //                            placeholder="Please provide your justification... (required)"
    //                            ng-disabled="assessment.edit_control!==current_user._id"
    //                            redactor
    //                            required) {{answer[current_user.role + '_justification']}}



//// DESK RESEARCH ANSWER FORM
//.row.left-padding-lg.right-padding-lg(ng-if="answer.question_mode==='desk_research'")
//    .form-horizontal(name="desk_research_answer_form")
//        fieldset(ng-if="answer.question_mode==='desk_research'")
//            div(id="answer_choice_div").bottom-padding-med
//                legend(ng-if="answer.question_data_type==='multi' || answer.question_data_type==='bool'") Choose one of the following answers (required):
//                ng-form(name="answer_choice_form")
//                    .form-group.left-padding-lg(ng-repeat="option in answer.answer_options" required)
//                        input(
//                        type="radio"
//                        ng-value="option"
//                        ng-model="answer.answer_score")
//                        text.left-padding-med {{option.option_text | ucfirst}}
//
//            div(id="answer_value_div").bottom-padding-med
//                legend(ng-if="answer.question_data_type==='perc' || answer.question_data_type==='int' ") Please provide a value (required):
//                .form-group.left-padding-lg.col-md-2(required)
//                    label(ng-if="answer.question_data_type==='int'") Whole number
//                    label(ng-if="answer.question_data_type==='perc'") Percentage as decimal
//                    input.form-control(type="number" ng-if="answer.question_data_type==='int'" ng-model="answer.answer_score.value")
//                    input.form-control(type="number" step="any" ng-if="answer.question_data_type==='perc'" ng-model="answer.answer_score.value")


//
//// INTERVIEW ANSWER FORM
//.row.left-padding-lg.right-padding-lg(ng-if="answer.question_mode==='interview'")
//    .form-horizontal(name="interview_answer_form")
//        fieldset
//            div(id="answer_choice_div").bottom-padding-med
//                legend(ng-if="answer.question_data_type==='multi' || answer.question_data_type==='bool'") Choose one of the following answers (required):
//                ng-form.col-md-6(name="answer_choice_form")
//                    .form-group.left-padding-lg(ng-repeat="option in answer.answer_options")
//                        input(
//                        type="radio"
//                        ng-value="option"
//                        ng-model="new_interview_answer.score"
//                        required)
//                        text.left-padding-med {{option.option_text}}
//                .col-md-5.pull-left.top-padding-med
//                    .row
//                        ng-form(name="interviewee_selection_form")
//                            select.form-group.form-control(ng-model="new_interview_answer.interviewee_ID" required)
//                                option(value="" selected disabled) Select interviewee
//                                option(ng-repeat="interviewee in interviewees" value="{{interviewee._id}}") {{interviewee.firstName}} {{interviewee.lastName}} - {{interviewee.role}}
//                    .row
//                        button.form-group.form-control.btn.center-block.btn-primary(ng-click="intervieweeAdd()") Add new interviewee
//
//            div(id="answer_text_div").bottom-padding-med
//                ng-form(name="interview_answer_text_form")
//                    .form-group.top-padding-med
//                        .row.left-padding-lg
//                            .col-md-10
//                                textarea.form-control(
//                                name="answer_text"
//                                type="text"
//                                ng-model="new_interview_answer.interview_text"
//                                placeholder="Please provide interview transcription... (required)"
//                                autocomplete="off"
//                                required)
//                            .col-md-1
//                                button.btn.btn-success(ng-click="answerSubmit()") Submit interview