.container-fluid.page-container
    .well
        div.page-well
            legend.h3.page-header Question {{question.question_order}}. {{question.question_text}}
            .form-horizontal(name="question_content_form").row-fluid.right-padding-lg.left-padding-lg
                fieldset
                    div(id="question_text_div").row-fluid.right-padding-lg.left-padding-lg
                        label Question Text
                        .form-group.left-padding-lg.right-padding-lg(required)
                            textarea.form-control(
                            name="question_text"
                            type="textbox"
                            ng-model="question.question_text")
                    div(id="question_details_div")
                        .row
                            label.col-md-2.control-label(form="order") Question Order
                            .col-md-1
                                input.form-group.form-control(
                                name="order"
                                type="number"
                                ng-model="question.question_order")

                            label.col-md-2.control-label(form="mode") Question Mode
                            .col-md-2
                                select.form-group.form-control(
                                ng-model="question.question_mode"
                                ng-options="item.value as item.text for item in mode_options")

                            label.col-md-2.control-label(form="type") Data Type
                            .col-md-2
                                select.form-group.form-control(
                                ng-model="question.question_data_type"
                                ng-options="item.value as item.text for item in type_options")
                        .row
                            label.col-md-1.control-label(form="order") Theme
                            .col-md-3
                                select.form-group.form-control(
                                ng-model="question.question_theme_ID"
                                ng-options="item.value as (item.value + ': ' + item.text) for item in theme_options")

                            label.col-md-1.control-label(form="mode") Value Chain
                            .col-md-3
                                select.form-group.form-control(
                                ng-model="question.question_value_chain_ID"
                                ng-options="item.value as (item.value + ': ' + item.text) for item in value_chain_options")

                            label.col-md-1.control-label(form="type") Indicator
                            .col-md-3
                                select.form-group.form-control(
                                ng-model="question.question_indicator_ID"
                                ng-options="item.value as (item.value + ': ' + item.text) for item in indicator_options")

                    div.row-fluid.right-padding-lg.left-padding-lg.bottom-padding-lg.top-padding-med
                        .pull-left
                            button.btn.btn-primary(
                            ng-click="questionUpdate()"
                            ng-disabled="profileForm.$invalid") Save question
                            | &nbsp;
                            button.btn.btn-danger(ng-click="deleteConfirmDialog()") Delete question
                            | &nbsp;
                            button.btn.btn-warning(ng-click="questionClear()") Reset question
                            | &nbsp;
                            a.btn.btn-default(href="/admin/question-admin") Cancel
                    //TODO: PLACEHOLDER FOR IF/WHEN GUIDANCE TEXT IS ADDED
                    //div(id="guidance_text_div").row-fluid.right-padding-lg.left-padding-lg
                    //    label Guidance Text
                    //    //- ng-form(name="question_text_form")
                    //    .form-group.left-padding-lg.right-padding-lg(required)
                    //        textarea.form-control(
                    //        name="question_text"
                    //        type="text"
                    //        ng-model="question.question_guidance_text"
                    //        redactor) {{question.question_guidance_text}}
                    //    div(ng-bind-html="question.question_guidance_text")

                    div(id="comments").row-fluid.right-padding-lg.left-padding-lg
                        nrgi-comments(update="question")