.container.top-padding-med
    .well.left-padding-lg
        div.left-padding-lg.right-padding-lg.top-padding-med
            legend.h3 {{assessment.country}} {{assessment.year}} {{assessment.version}} {{answer.question_mode | addSpaces}}
                .text-success.pull-right(ng-if="answer.status==='approved'")  (approved)
                .text-danger.pull-right(ng-if="answer.status==='flagged'")  (flagged)
                .text-info.pull-right(ng-if="answer.status==='saved'")  (saved)

                //TODO dyanamical go to end of section
                //    answer[current_user.role + '_score']
                //a.text-info.glyphicon.glyphicon-fast-forward.pull-right.left-padding-med(
                //href="assessments/assessment-edit/{{assessment.assessment_ID}}-{{assessment.question_length | zpad:3}}"
                //ng-if="assessment.question_length!==answer.question_order")
                //glyphicon.text-muted.glyphicon.glyphicon-fast-forward.pull-right.left-padding-med(
                //ng-if="assessment.question_length===answer.question_order"
                //disabled)

                //glyphicon.text-info.glyphicon.glyphicon-forward.pull-right.left-padding-med(
                //ng-click="moveForward()"
                //ng-if="answer.question_order!==assessment.question_length")
                //glyphicon.text-muted.glyphicon.glyphicon-forward.pull-right.left-padding-med(
                //ng-if="answer.question_order===assessment.question_length"
                //disabled)

                //TODO prototype for glyphicons showing answer status
                //glyphicon.text-success.glyphicon.glyphicon-ok-sign.pull-right.right-padding-lg(ng-if="answer.status==='submitted'")
                //glyphicon.text-danger.glyphicon.glyphicon-flag.pull-right.right-padding-lg(ng-if="answer.status==='flagged'")
                //glyphicon.text-info.glyphicon.glyphicon-floppy-saved.pull-right(ng-if="answer.status==='saved'")
                //text.pull-right.right-padding-lg(ng-if="answer.status!=='saved' && answer.status!=='submitted' && answer.status!=='flagged'") none
                //text.pull-right.right-padding-lg Status:

                //glyphicon.text-info.glyphicon.glyphicon-backward.pull-right.right-padding-med(
                //ng-click="moveBackward()"
                //ng-if="answer.question_order!==1")
                //glyphicon.text-muted.glyphicon.glyphicon-backward.pull-right.right-padding-med(ng-if="answer.question_order===1")

                //TODO dyanamical go to beginning of section
                //a.text-info.glyphicon.glyphicon-fast-backward.pull-right.right-padding-med(
                //href="assessments/assessment-edit/{{assessment.assessment_ID}}-001"
                //ng-if="answer.question_order!==1")
                //glyphicon.text-muted.glyphicon.glyphicon-fast-backward.pull-right.right-padding-med(
                //ng-if="answer.question_order===1"
                //disabled)

            .row.left-padding-lg.bottom-padding-med
                h3
                    em Question {{answer.question_order}}. {{answer.question_text}}

            //- ACTIVE BUTTONS
            //.row answer.question_mode - {{answer.question_mode}}
            //.row assessment.desk_research_set_length - {{assessment.desk_research_set_length}}
            //.row assessment.interview_set_length - {{assessment.interview_set_length}}
            //.row test - {{assessment.[{{answer.question_mode}}]_set_length}}
            //- Active buttons
            .row.left-padding-lg.bottom-padding-lg
                .col-md-pull-2
                    button.btn.btn-primary(ng-click="answerSave()") Save answer
                    | &nbsp;
                    button.btn.btn-success(ng-click="answerApprove()") Approve answer
                    | &nbsp;
                    button.btn.btn-warning(ng-click="answerFlag(current_user)") Flag answer
                    | &nbsp;
                    button.btn.btn-danger(ng-click="answerClear()") Clear answer
                    | &nbsp;
                    a.btn.btn-default(
                    href="/admin/assessments-admin/interviews/{{answer.assessment_ID}}"
                    ng-if="answer.question_mode==='interview'") Return to menu
                    a.btn.btn-default(
                    href="/admin/assessments-admin/desk-research/{{answer.assessment_ID}}"
                    ng-if="answer.question_mode==='desk_research'") Return to menu

            // DESK RESEARCH ANSWER DISPLAY
            .row(ng-if="answer.question_mode==='desk_research'")
                .left-padding-lg.right-padding-lg.bottom-padding-med(ng-if="answer.question_data_type==='multi' || answer.question_data_type==='bool'")
                    div(ng-if="answer.answer_score")
                        label.col-med-2 Selected Score:
                        text  {{answer.answer_score.option_text}} - {{answer.answer_score.value}}
                    div(ng-if="!answer.answer_score") No answer selected
                .left-padding-lg.right-padding-lg.bottom-padding-med(ng-if="answer.question_data_type==='int'")
                    div(ng-if="answer.answer_score")
                        label.col-med-2 Inputed Score:
                        text  {{answer.answer_score.value}}
                    div(ng-if="!answer.answer_score") No answer inputed
                .left-padding-lg.right-padding-lg.bottom-padding-med(ng-if="answer.question_data_type==='perc'")
                    div(ng-if="answer.answer_score")
                        label.col-med-2 Inputed Score:
                        text  {{answer.answer_score.value}}
                    div(ng-if="!answer.answer_score") No answer inputed
            // INTERVIEW ANSWER DISPLAY
            div.left-padding-lg(ng-if="answer.question_mode==='interview' && answer.interview_score.length > 0")
                legend Interview scores
                .row
                    .left-padding-lg.right-padding-lg.bottom-padding-med(ng-if="answer.interview_score.length > 0")
                        .row(ng-repeat="score in interview_scores")
                            .row
                                b Interviewee:
                                text  {{score.interviewee.firstName}} {{score.interviewee.lastName}} ({{score.interview_date | date:'MM/dd/yyyy'}})
                            .row
                                b Score:
                                text  {{score.option_text}} - {{score.value}}
                            .row
                                b Transcript:
                                text  {{score.interview_text}}
                            br
            //FLAG ACCORDION
            .row.left-padding-lg.bottom-padding-lg(ng-if="answer.flags.length!==0")
                div(id="flags_div").bottom-padding-med
                    legend Flags:
                    div.panel-group(
                    id="prev_flags_div"
                    role="tablist"
                    aria-multiselectable="true")
                        div.panel(ng-repeat="flag in answer.flags")
                            .panel-success(ng-if="flag.addressed===true")
                                div.panel-heading(
                                role="tab"
                                id="heading{{$index}}")
                                    h4.panel-title
                                        a.btn.btn-block.button.button-success(
                                        style="text-align: left;"
                                        role="button"
                                        data-toggle="collapse"
                                        data-parent="#accordion"
                                        href="#collapse{{$index}}"
                                        aria-expanded="false"
                                        aria-controls="collapse{{$index}}")
                                            b Flag {{$index+1}} - {{flag.author_name}} (
                                            b {{flag.role}}
                                            b ):
                                            em  {{flag.date | date:'MM/dd/yyyy'}}
                                div(
                                id="collapse{{$index}}"
                                class="panel-collapse collapse in"
                                role="tabpanel"
                                aria-labelledby="heading{{$index}}")
                                    div.panel-body
                                        .row.left-padding-lg
                                            text Addressed?
                                            text
                                            input(
                                            type="checkbox"
                                            ng-model="flag.addressed")
                                        .row.left-padding-lg.right-padding-lg
                                            text {{flag.content}}
                                        .row.pull-right.right-padding-lg(ng-if="flag.author === current_user._id")
                                            button.btn.btn-primary(ng-click="flagEdit(flag, $index)") Edit
                            .panel-danger(ng-if="flag.addressed===false")
                                div.panel-heading(
                                role="tab"
                                id="heading{{$index}}")
                                    h4.panel-title
                                        a.btn.btn-block.button.button-success(
                                        style="text-align: left;"
                                        role="button"
                                        data-toggle="collapse"
                                        data-parent="#accordion"
                                        href="#collapse{{$index}}"
                                        aria-expanded="false"
                                        aria-controls="collapse{{$index}}")
                                            b Flag {{$index+1}} - {{flag.author_name}} (
                                            b {{flag.role}}
                                            b ):
                                            em  {{flag.date | date:'MM/dd/yyyy'}}
                                div(
                                id="collapse{{$index}}"
                                class="panel-collapse collapse in"
                                role="tabpanel"
                                aria-labelledby="heading{{$index}}")
                                    div.panel-body
                                        .row.left-padding-lg
                                            text Addressed?
                                            text
                                            input(type="checkbox" ng-model="flag.addressed")
                                        .row.left-padding-lg.right-padding-lg
                                            text {{flag.content}}
                                        .row.pull-right.right-padding-lg(ng-if="flag.author === current_user._id")
                                            button.btn.btn-primary(ng-click="flagEdit(flag, $index)") Edit



            //// DESK RESEARCH ANSWER FORM
            .row.left-padding-lg.right-padding-lg(ng-if="answer.question_mode==='desk_research'")
                .form-horizontal(name="desk_research_answer_form")
                    fieldset(ng-if="answer.question_mode==='desk_research'")
                        div(id="answer_choice_div").bottom-padding-med
                            legend(ng-if="answer.question_data_type==='multi' || answer.question_data_type==='bool'") Choose one of the following answers (required):
                            ng-form(name="answer_choice_form")
                                .form-group.left-padding-lg(ng-repeat="option in answer.answer_options" required)
                                    input(
                                    type="radio"
                                    ng-value="option"
                                    ng-model="answer.answer_score")
                                    text.left-padding-med {{option.option_text | ucfirst}}

                        div(id="answer_value_div").bottom-padding-med
                            legend(ng-if="answer.question_data_type==='perc' || answer.question_data_type==='int' ") Please provide a value (required):
                            .form-group.left-padding-lg.col-md-2(required)
                                label(ng-if="answer.question_data_type==='int'") Whole number
                                label(ng-if="answer.question_data_type==='perc'") Percentage as decimal
                                input.form-control(type="number" ng-if="answer.question_data_type==='int'" ng-model="answer.answer_score.value")
                                input.form-control(type="number" step="any" ng-if="answer.question_data_type==='perc'" ng-model="answer.answer_score.value")

                        div(id="answer_justification_div").bottom-padding-med
                            legend(ng-if="answer.question_data_type==='text'") Please provide a text based response (required):
                            ng-form(name="answer_justification_form")
                                .form-group.top-padding-med
                                    .row.left-padding-lg
                                        .col-md-11
                                            textarea.form-control(
                                            name="answer_text"
                                            type="text"
                                            ng-model="answer.answer_text"
                                            placeholder="Please provide supporting evidence... (required)"
                                            autocomplete="off")

            // INTERVIEW ANSWER FORM
            .row.left-padding-lg.right-padding-lg(ng-if="answer.question_mode==='interview'")
                .form-horizontal(name="interview_answer_form")
                    fieldset
                        div(id="answer_choice_div").bottom-padding-med
                            legend(ng-if="answer.question_data_type==='multi' || answer.question_data_type==='bool'") Choose one of the following answers (required):
                            ng-form.col-md-6(name="answer_choice_form")
                                .form-group.left-padding-lg(ng-repeat="option in answer.answer_options")
                                    input(
                                    type="radio"
                                    ng-value="option"
                                    ng-model="new_interview_answer.score"
                                    required)
                                    text.left-padding-med {{option.option_text}}
                            .col-md-5.pull-left.top-padding-med
                                .row
                                    ng-form(name="interviewee_selection_form")
                                        select.form-group.form-control(ng-model="new_interview_answer.interviewee_ID" required)
                                            option(value="" selected disabled) Select interviewee
                                            option(ng-repeat="interviewee in interviewees" value="{{interviewee._id}}") {{interviewee.firstName}} {{interviewee.lastName}} - {{interviewee.role}}
                                .row
                                    button.form-group.form-control.btn.center-block.btn-primary(ng-click="intervieweeAdd()") Add new interviewee

                        div(id="answer_text_div").bottom-padding-med
                            ng-form(name="interview_answer_text_form")
                                .form-group.top-padding-med
                                    .row.left-padding-lg
                                        .col-md-10
                                            textarea.form-control(
                                            name="answer_text"
                                            type="text"
                                            ng-model="new_interview_answer.interview_text"
                                            placeholder="Please provide interview transcription... (required)"
                                            autocomplete="off"
                                            required)
                                        .col-md-1
                                            button.btn.btn-success(ng-click="answerSubmit()") Submit interview



            // COMMENTING
            .row.left-padding-lg.right-padding-lg
                div(id="comments_div").bottom-padding-med
                    legend Comments:

                    div(id="prev_comments_div" ng-if="answer.comments.length!==0")
                        .row.left-padding-lg.bottom-padding-med(ng-repeat="comment in answer.comments")
                            .row
                                b {{comment.author_name}} (
                                b {{comment.role}}
                                b ):
                            .row
                                date
                                    small
                                        em  {{comment.date | date:'MM/dd/yyyy @ h:mma' : timezone}}
                            .row.col-md-11 {{comment.content}}
                            .row.pull-right.right-padding-lg(ng-if="comment.author === current_user._id")
                                button.btn.btn-primary(ng-click="commentEdit(comment, $index)") Edit
                    br
                    div(id="new_comment_div").bottom-padding-med
                        ng-form(name="new_comment_form")
                            .form-group.top-padding-med
                                .row.left-padding-lg
                                    .col-md-10
                                        textarea.form-control(
                                        name="comment"
                                        type="text"
                                        ng-model="answer.new_comment"
                                        placeholder="New comment..."
                                        autocomplete="off"
                                        required)
                                    .col-md-1
                                        button.btn.btn-success(
                                        ng-click="commentSubmit(current_user)"
                                        ng-disabled="new_comment_form.$invalid"
                                        ) Submit comment
            // TODO reset ref_selection and popups for each ref type
            // REFERENCE ADD
            div(id="biblio_div").bottom-padding-med
                legend References:
                .row
                    .col-md-5.pull-left.top-padding-med
                        select.form-group.form-control.pull-left(ng-model="ref_selection" ng-change="select_ref_dialog()")
                            option(value="" selected disabled) Select action
                            option(ng-repeat="ref in ref_type" value="{{ref.value}}") {{ref.text}}
                //- BILBLIO LIST
                div(id="prev_bib")
                    .row.left-padding-lg
                        label Citations
                        .row.left-padding-lg.bottom-padding-med(ng-repeat="ref in citations")
                            .row Author(s):
                                text(ng-repeat="author in ref.authors" ng-if="ref.authors.length > 0")  {{author.first_name}} {{author.last_name}}
                                    text(ng-if="!$last") ;
                                text(ng-if="ref.author.length === 0")  N/A
                            .row Title: {{ref.title}} (
                                a(href="{{ref.s3_url}}" target="_blank") View here
                                text )
                            .row Published:
                                text(ng-if="ref.year")  {{ref.year}}
                                text(ng-if="!ref.year")  N/A
                            .row Cited by {{ref.comment.author_name}} on {{ref.comment.date | date: 'MM/dd/yyyy'}}
                            .row Commnets:
                                text(ng-if="ref.comment.content")  {{ref.comment.content}}
                                text(ng-if="!ref.comment.content")  N/A
                            //br

                    .row.left-padding-lg
                        label Websites
                        .row.left-padding-lg(ng-repeat="ref in answer.references.web")
                            .row Website: {{ref.title}} (
                                a(href="{{ref.URL}}" target="_blank") View here
                                text )
                            .row Accessed: {{ref.access_date| date:'MM/dd/yyyy'}}
                            .row Cited by {{ref.comment.author_name}} on {{ref.comment.date | date:'MM/dd/yyyy'}}
                            .row Comments: {{ref.comment.content}}
                            br
                    .row.left-padding-lg
                        label Interviews
                        .row.left-padding-lg(ng-repeat="ref in answer.references.human")
                            .row Contact: {{ref.first_name}} {{ref.last_name}}
                            .row Interviewed: {{ref.contact_date | date:'MM/dd/yyyy'}}
                            .row Cited by {{ref.comment.author_name}} on {{ref.comment.date | date:'MM/dd/yyyy'}}
                            .row Comments: {{ref.comment.content}}
                            br
