.container.top-padding-med
	.well.left-padding-lg
		div.left-padding-lg.right-padding-lg.top-padding-med
			form.form-horizontal(name='createUserForm')
				fieldset.left-padding-med.right-padding-lg
					legend.h3 New User Information
					.row.right-padding-lg.top-padding-med
						.form-group
							label.col-md-2.control-label(form="first_name") First Name *
							.col-md-4
								input.form-control(
								name="first_name"
								type="text"
								placeholder="First Name"
								ng-model="new_user_data.firstName"
								required)
							label.col-md-2.control-label(form="last_name") Last Name *
							.col-md-4
								input.form-control(name="last_name"
								type="text"
								placeholder="Last Name"
								ng-model="new_user_data.lastName"
								required)

					.row.right-padding-lg
						.form-group
							label.col-md-2.control-label(form="username") Username *
							.col-md-4
								input.form-control(name="username"
								type="text"
								placeholder="Username"
								ng-model="new_user_data.username"
								required)
							label.col-md-2.control-label(form="email") Email *
							.col-md-4
								input.form-control(name="email"
								type="email"
								placeholder="Email"
								ng-model="new_user_data.email"
								required)

					//.row.right-padding-lg
					//	.form-group
					//		label.col-md-2.control-label(form="password") Password *
					//		.col-md-4
					//			input.form-control(name="password"
					//			type="password"
					//			placeholder="Password"
					//			ng-model="password"
					//			required)
					//		label.col-md-2.control-label(form="password_repeat") Password repeat *
					//		.col-md-4
					//			input.form-control(name="password_repeat"
					//			type="password"
					//			placeholder="Retype password"
					//			ng-model="password_repeat"
					//			required)

					.row.right-padding-lg
						.form-group
							label.col-md-2.control-label(form="role") Role *
							.col-md-4
								select.form-control(ng-model="roleSelect"
								ng-options="item.value as item.text for item in roleOptions"
								required)
							.pull-right.right-padding-lg
								button.btn.btn-primary(
								ng-click="userCreate()"
								ng-disabled="createUserForm.$invalid") Submit
								| &nbsp;
								a.btn.btn-default(href="/") Cancel



